<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>app.tether.guest-clipboard</string>
<key>ProgramArguments</key><array>
    <string>/bin/sh</string><string>-c</string>
    <string>exec "$HOME/Library/Application Support/Tether Host for Mac/Guest Clipboard/Tether Guest Clipboard Helper"</string>
</array>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>ProcessType</key><string>Interactive</string>
</dict></plist>
